#my-popup {
	position: fixed;
	bottom: 20px; /* Adjust distance from bottom */
	right: 20px; /* Adjust distance from right */
	background-color: white;
	z-index: 1000; /* Ensure it's on top of other content */
	display: none; /* Initially hidden */
	max-width: 600px;

	/* Add a box shadow */
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

/* Style the paragraph text within the popup */
#my-popup p {
	font-size: 16px;
	line-height: 1.5;
	/* Add margin to separate paragraphs */
	margin-bottom: 10px;
}

#my-popup .close-button {
	position: absolute;
	top: 10px; /* Adjust distance from top */
	right: 15px; /* Adjust distance from right */
	background-color: transparent;
	border: none;
	font-size: 18px;
	cursor: pointer;
}

.popup-image {
	flex-grow: 1;
	max-width: 35%;
	min-width: 35%;
	margin-left: 15px;
	background-color: #ebf0ff;
	padding: 0 0; 
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	background: url("../images/popup_img.jpeg");
	background-position: 50% 50%;
	background-origin: border-box;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Responsive styles, take bottom part of screen */
@media (max-width: 768px) {
	#my-popup {
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		border-radius: 0;
	}

	/* Hide the image on mobile */
	#my-popup .popup-image {
		display: none;
	}
}

/* Style the sidebar popup */
.sidebar-popup {
	padding: 20px;
	border-radius: 5px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

/* style the content of the popup */
.popup-content {
	margin-top: 25px;
}

/* Style the link, make it look like a button and make it centered within the div */
.sidebar-link {
	display: inline-block;
	padding: 10px 20px;
	background-color: #fd3a5c;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

